<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="chaithra" class="com.bridgelabz.Student" init-method="init"  destroy-method="destroy">
		<property name="message" value="chaithra shenoy" />
		<property name="id" value="1234" />


	</bean>
	<bean id="aruna" class="com.bridgelabz.Student">
		<property name="message" value="aruna bh" />
		<property name="id" value="1235" />
	</bean>
	<bean id="priya" class="com.bridgelabz.Student" >
		<property name="message" value="lakshmi priya" />
		<property name="id" value="1236" />
	</bean>
</beans>